<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Tell Us About You.</h2>
      </div>
      <form action="#" method="post">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-10 col-sm-10">
          <div class="col-md-6 col-sm-6">
            <input type="text" placeholder="Name" class="form-control" />
          </div>
          <div class="col-md-6 col-sm-6">
            <input type="email" placeholder="Email" class="form-control" />
          </div>
          <div class="col-md-12 col-sm-12">
            <textarea
              placeholder="Message"
              class="form-control"
              rows="5"
            ></textarea>
          </div>
          <div class="col-md-12 col-sm-12">
            <input type="text" placeholder="Subject" class="form-control" />
          </div>
          <div class="col-md-8 col-sm-8">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy
            </p>
          </div>
          <div class="col-md-4 col-sm-4">
            <input type="submit" value="SEND MESSAGE" class="form-control" />
          </div>
        </div>
        <div class="col-md-1 col-sm-1"></div>
      </form>
    </div>
  </div>
</div>
<!-- divider section -->
<div class="container">
  <div class="row">
    <div class="col-md-1 col-sm-1"></div>
    <div class="col-md-10 col-sm-10">
      <hr />
    </div>
    <div class="col-md-1 col-sm-1"></div>
  </div>
</div>
