<div id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h2>Behind the Design Studio.</h2>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="assets/img/team1.jpg" class="img-responsive" alt="team img" />
        <h3>James Smith</h3>
        <h4>Creative Director</h4>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="assets/img/team2.jpg" class="img-responsive" alt="team img" />
        <h3>Jonny Doe</h3>
        <h4>CEO / CO-Founder</h4>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="assets/img/team3.jpg" class="img-responsive" alt="team img" />
        <h3>Jonathan Ive</h3>
        <h4>Chief Design Office</h4>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="assets/img/team4.jpg" class="img-responsive" alt="team img" />
        <h3>Mary Lane</h3>
        <h4>UX Designer</h4>
      </div>
    </div>
  </div>
</div>
