<!-- navigation -->
<app-top-nav-bar> </app-top-nav-bar>
<!-- home section -->
<app-home></app-home>
<!-- service section -->
<app-service></app-service>
<!-- divider section -->
<app-divider></app-divider>
<!-- about section -->
<app-about></app-about>
<!-- divider section -->
<app-divider></app-divider>
<!-- team section -->
<app-team></app-team>
<!-- divider section -->
<app-divider></app-divider>
<!-- contact section -->
<app-contact></app-contact>
<!-- footer section -->
<app-footer></app-footer>
<!-- divider section -->
<app-divider></app-divider>
<!-- copyright section -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p>&copy; Superfresh 2084. All Rights Reserved | Design: templatemo</p>
      </div>
    </div>
  </div>
</div>
<!-- scrolltop section -->
<a href="#top" class="go-top"><i class="fa fa-angle-up"></i></a>
